<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593886647603-rpf9om7imh29od87mt21o8t3s7293pa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593886647603-rpf9om7imh29od87mt21o8t3s7293pa8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>593886647603-r38rtekm82nrvo5k4tb0gqc3fmeu923h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB58K7ZLgTu17_nGXhYJPpIiB4y4ECmQMY</string>
	<key>GCM_SENDER_ID</key>
	<string>593886647603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>perform-53838</string>
	<key>STORAGE_BUCKET</key>
	<string>perform-53838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593886647603:ios:4fe5b0ab4f6517c8aada46</string>
	<key>DATABASE_URL</key>
	<string>https://perform-53838-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>